<label for="interval">Time between images in seconds: </label>
<input id="interval" type="text" value="8" min="8" pattern="\d+">
<br>
<button id="start" (click)="startClick()">Start</button>
<br>
<label for="hideVid" (click)="hideVidClick()">Hide video element: </label>
<input id="hideVid" type="checkbox">
<video autoplay muted playsinline></video>
<p>
  Images captured: <span id="image_count">0</span>
</p>
<br>
<button id="stop" disabled (click)="stopClick()">Stop & Show Images</button>
<div id="images"></div>
