<label for="interval">Time between images in seconds: </label>
<input id="interval" type="text" value="1" min="1" pattern="\d+">
<br>
<button id="start" [disabled]="capturing" (click)="startClick()">Start Capturing</button>
<button id="stop" [disabled]="!capturing" (click)="stopClick()">Stop Capturing</button>
<br>
<label for="hideVid" (click)="hideVidClick()">Hide video element: </label>
<input id="hideVid" type="checkbox">
<video autoplay muted playsinline></video>
<p>
  Images captured: <span id="image_count">0</span>
</p>
<br>

<button id="compare" [disabled]="!(snapPair[0] && snapPair[1])" [hidden]="capturing || storage.length === 0"
        (click)="compareSelected()">Compare Images</button>

<app-snap-comparison-view id="snapComparison" (edit)="comparisonEdited($event)" [snaps]="storage"></app-snap-comparison-view>

